[mysqld]
#mysql基础配置
basedir =/usr
datadir =/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock

#数据包大小，有一些项目需要设置高一点，默认是无法启动的
max_allowed_packet=50M

#取消大小写限制
lower_case_table_names=1

#字符编码
character_set_server = utf8

#sql_mode定义了mysql应该支持的sql语法，数据校验等
#mysql5.0以上版本支持三种sql_mode模式：ANSI、TRADITIONAL和STRICT_TRANS_TABLES。 
#ANSI模式：宽松模式，对插入数据进行校验，如果不符合定义类型或长度，对数据类型调整或截断保存，报warning警告。 
#TRADITIONAL模式：严格模式，当向mysql数据库插入数据时，进行数据的严格校验，保证错误数据不能插入，报error错误。用于事物时，会进行事物的回滚。 
#STRICT_TRANS_TABLES模式：严格模式，进行数据的严格校验，错误数据不能插入，报error错误。
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

#解决密码明文显示警告问题,也可以用第二种方式把警告忽略 2 & > /dev/null
[client]
#host=localhost
user=root
password=gfhl
