[mysqld]
#socket = /usr/local/mysql/data/mysql.sock
basedir =/usr
datadir =/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
max_allowed_packet=50M

lower_case_table_names=1
character_set_server = utf8

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[client]
#host=localhost
user=root
password=gfhl
